.blue{
    width: 200px;
    height: 200px;
    background-color: blue;
    position: relative;
    top: 300px;

}
.pink{ width: 200px;
    height: 200px;
    background-color: pink;
    position: static;

}
.purple{
    width: 200px;
    height: 200px;
    background-color: purple;
}
.red{ width: 200px;
    height: 200px;
    background-color: red;

}