
    
    table,th,td{
        text-align: center;
        width: 45%;
        border: 1px solid black;
        background-color: pink;
        border-collapse: collapse;
    }
button{
    flex-direction: column;
}
.flex-container{
    display: flex;
    background-color: blue;

}
.trans{
    background-color: red;
}